@charset "UTF-8";

.content-wrap {
	margin-top: 24px;
    width: 80vw;

    display: flex;
    justify-content: space-between;
}

aside {
    width: 30%;
    height: auto;

    background-color: #fafafa;
}

#profile-card {
    width: 100% !important;

    border: 1px solid #c0c0c0;
}

#category {
    justify-content: center;
    display: flex
;
    width: 100%;

}

section {
    width: 68%;
    display: flex;
    justify-content: center;
    background-color: #fafafa;
}

#to-do-list {
    display: none;
}
#post-list {
    display: none;
}
#mini-game {
    display: none;
}

#fake-img {
    width: 100% !important;
    height: 240px !important;
}